section#media-list
  if library
    if library.length > 0
      each file in library
        include movie
  else
    .empty
      h3 No files found

- const playState = (status?.state?.toLowerCase() != "stopped")
- const refreshTime = (["playing"].includes(status?.state?.toLowerCase())) ? 1 : 50
- console.log("Refresh time:", refreshTime)
#media-control(
  hx-get="/library/status"
  hx-target="#media-control"
  hx-select="#media-control"
  hx-trigger=`every ${refreshTime}s`
  hx-swap="outerHTML"
)
  if playState
    .toolbar-content
      .playing-info
        div#playing-file-name
          span= status.name
        div#playing-file-state
          span= status.state
        div#playing-file-info
          div#status-playtime
            span #{status.time} of #{status.length}
          div#status-position
            span= status.position
          div#status-volume
            span= status.volume
      .playing-controls
        div.toolbar-action#button-vol-down(
          hx-get=`/library/volume-down`
          hx-target="#media-control"
          hx-select="#media-control"
          hx-swap="outerHTML")
          div.toolbar-action-icon
            i.fa-solid.fa-volume-low
          //div.toolbar-action-label Vol Down
        div.toolbar-action#button-vol-up(
          hx-get=`/library/volume-up`
          hx-target="#media-control"
          hx-select="#media-control"
          hx-swap="outerHTML")
          div.toolbar-action-icon
            i.fa-solid.fa-volume-high
          //div.toolbar-action-label Vol Up
        div.toolbar-action#button-pause(
          hx-get=`/library/pause`
          hx-target="#media-control"
          hx-select="#media-control"
          hx-swap="outerHTML")
          div.toolbar-action-icon
            i.fa-solid.fa-pause
          //div.toolbar-action-label Pause
        div.toolbar-action#button-stop(
          hx-get=`/library/stop`
          hx-target="#media-control"
          hx-select="#media-control"
          hx-swap="outerHTML")
          div.toolbar-action-icon
            i.fa-solid.fa-stop
          //div.toolbar-action-label Stop
        div.toolbar-action#button-seek-back(
          hx-get=`/library/seek-backward`
          hx-target="#media-control"
          hx-select="#media-control"
          hx-swap="outerHTML")
          div.toolbar-action-icon
            i.fa-solid.fa-backward
          //div.toolbar-action-label -10s
        div.toolbar-action#button-seek-forward(
          hx-get=`/library/seek-forward`
          hx-target="#media-control"
          hx-select="#media-control"
          hx-swap="outerHTML")
          div.toolbar-action-icon
            i.fa-solid.fa-forward
          //div.toolbar-action-label +10s
  else
    p Stopped or Disconnected
