.library 
  h1 Media Library
  p This is the library page.
  each file in data
    div.item
      h3= file.name
      p= file.path
      .controls 
        a(href=`/library/${file.name}/play`) Play
        a(href=`/library/${file.name}/pause`) Pause
        a(href=`/library/${file.name}/stop`) Stop
        a(href=`/library/${file.name}/status`) Status
        a(href=`/library/${file.name}/volume-up`) Volume Up
        a(href=`/library/${file.name}/volume-down`) Volume Down
        a(href=`/library/${file.name}/seek-forward`) Seek Forward
        a(href=`/library/${file.name}/seek-backward`) Seek Backward